<div class = "container">
<div class ="row">
  
<div class="col-md-12 col-sm-12 col-xs-12">
  <br>
  <br>
  <h2 style="text-align:center">О компании</h2>
  <p >
    
	 <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</strong>
  </p>
  <div class = "row profit-front-block">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <div class = "item props">
        <div class="image">
          <img src ="/assets/images/storage.png" alt width="80" height="80">
        </div>
        <div class="body-info">
          <div class ="value">
            <span class="spincrement" data-value="10"></span>
          </div>
        </div>
        <div class="title"><strong>Ответ хранение, услуги грузчиков, аренда авто</strong></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <div class = "item props">
        <div class="image">
          <img src ="/assets/images/time.png" alt width="80" height="80">
        </div>
        <div class="body-info">
          <div class ="value">
            <span class="spincrement" data-value="10"></span>
          </div>
        </div>
        <div class="title"><strong>Круглосуточный режим работы 24/7</strong></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <div class = "item props">
        <div class="image">
          <img src ="/assets/images/location.png" alt width="80" height="80">
        </div>
        <div class="body-info">
          <div class ="value">
            <span class="spincrement" data-value="10"></span>
          </div>
        </div>
        <div class="title"><strong>Гарантированные сроки доставок </strong></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
      <div class = "item props">
        <div class="image">
          <img src ="/assets/images/ship.png" alt width="80" height="80">
        </div>
        <div class="body-info">
          <div class ="value">
            <span class="spincrement" data-value="10"></span>
          </div>
        </div>
        <div class="title"><strong>Самовывоз - услуга позволяющая экономить средства и время</strong></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>