<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div [@routerTransition]>

  <div class="breadcrumb-area bg-grey">
    <div class="container">
      <div class="ho-breadcrumb">
        <ul>
          <li><a routerLink="/home">Главная</a></li>
          <li>Магазин</li>
        </ul>
      </div>
    </div>
  </div>
  <main class="page-content">

    <!-- Shop Page Area -->
    <div class="shop-page-area bg-white ptb-30">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">


            <div class="shop-filters mt-30">
              <div class="shop-filters-viewmode">
                <button class="is-active" data-view="grid"><i class="ion ion-ios-keypad"></i></button>
                <button data-view="list"><i class="ion ion-ios-list"></i></button>
              </div>
              <span class="shop-filters-viewitemcount">Товары</span>
              <div class="shop-filters-sortby">
                <b>Сортировать  по:</b>
                <div class="select-sortby">
                  <button class="select-sortby-current">Актуальность</button>
                  <ul class="select-sortby-list dropdown-list">
                    <li><a href="#">Relevance</a></li>
                    <li><a href="#">Name, A-Z</a></li>
                    <li><a href="#">Name, Z-A</a></li>
                    <li><a href="#">Price, Hight-Low</a></li>
                    <li><a href="#">Price, Low-High</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="shop-page-products mt-30">
              <div  class="row no-gutters">
                  <div  class="col-lg-4 col-md-4 col-sm-6 col-12" *ngFor="let product of products">
                      <article  class="hoproduct">
                          <div  class="hoproduct-image">
                              <a  class="hoproduct-thumb" [routerLink]="'/front/products/' + product.productId"><img  class="hoproduct-frontimage" alt="product image" *ngIf="product.photosArrayUrls && product.photosArrayUrls.length > 1" src="{{product.photosArrayUrls[2]}}"><img  *ngIf="product.photosArrayUrls && product.photosArrayUrls.length > 0" class="hoproduct-backimage" alt="product image" src="{{product.photosArrayUrls[1]}}"></a>
                              <ul  class="hoproduct-actionbox">
                                  <li  class="ng-tns-c1-1"><a  class="quickview-trigger" [routerLink]="'/front/products/' + product.productId"><i  class="lnr lnr-eye"></i></a></li>
                              </ul>
                          </div>
                          <!---->
                          <div  class="hoproduct-content ng-tns-c1-1 ng-star-inserted">
                              <h5  class="hoproduct-title"><a  class="ng-tns-c1-1" > {{product.productNameEn}}</a></h5>
                              <div  class="hoproduct-rattingbox">
                                  <div  class="rattingbox"><span  class="active"><i  class="ion ion-ios-star"></i></span><span  class="active"><i  class="ion ion-ios-star"></i></span><span  class="active"><i  class="ion ion-ios-star"></i></span><span  class="active"><i  class="ion ion-ios-star"></i></span><span  class="active"><i  class="ion ion-ios-star"></i></span></div>
                              </div>
                              <div  class="hoproduct-pricebox">
                                  <div  class="pricebox"><span  class="price">{{product.price}}</span></div>
                              </div>
                              <p  class="hoproduct-content-description">Canon's first 4K UHD Camcorder, the GX10 has a compact and portable design that delivers outstanding video quality with remarkable detail. With a combination of incredible features and functionality, the GX10.</p>
                          </div>
                      </article>
                  </div>
              </div> </div>

            <div class="cr-pagination pt-30">
              <p>Showing 1-12 of 13 item(s)</p>
              <ul>
                <li><a href="shop-rightsidebar.html"><i class="ion ion-ios-arrow-back"></i>
                  Previous</a></li>
                <li class="active"><a href="shop-rightsidebar.html">1</a></li>
                <li><a href="shop-rightsidebar.html">2</a></li>
                <li><a href="shop-rightsidebar.html">Next <i class="ion ion-ios-arrow-forward"></i></a></li>
              </ul>
            </div>

          </div>
          <div class="col-lg-3">
            <div class="shop-widgets">

              <div class="single-widget widget-categories">
                <h5 class="widget-title">Все Категории</h5>
                <ul *ngFor="let category of categories">
                  <li><a href="shop-rightsidebar.html">{{category.categoryName.en}} <span>20</span></a></li>

                </ul>
              </div>

              <div class="shop-widgetbox mt-30">
                <div class="single-widget widget-filters">
                  <h5 class="widget-title">Фильтровать по Цене</h5>
                  <div data-role="page">
                 
                  
                    <div data-role="main" class="ui-content">
                      <form method="post" action="/action_page_post.php">
                        <div data-role="rangeslider">
                          <label for="price-min">Price:</label>
                          <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
                          <label for="price-max">Price:</label>
                          <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                        </div>
                          <input type="submit" data-inline="true" value="Submit">
                        </form>
                    </div>
                  </div> 
                </div>
                <div class="single-widget widget-color">
                  <h5 class="widget-title">Выбрать по цвету</h5>
                  <ul>
                    <li>
                      <input type="checkbox" name="shop-widget-color-red" id="shop-widget-color-red" checked="checked">
                      <label for="shop-widget-color-red">Red</label>
                    </li>
                    <li>
                      <input type="checkbox" name="shop-widget-color-green" id="shop-widget-color-green" checked="checked">
                      <label for="shop-widget-color-green">Green</label>
                    </li>
                    <li>
                      <input type="checkbox" name="shop-widget-color-blue" id="shop-widget-color-blue" checked="checked">
                      <label for="shop-widget-color-blue">Blue</label>
                    </li>
                    <li>
                      <input type="checkbox" name="shop-widget-color-purple" id="shop-widget-color-purple">
                      <label for="shop-widget-color-purple">Purple</label>
                    </li>
                    <li>
                      <input type="checkbox" name="shop-widget-color" id="shop-widget-color">
                      <label for="shop-widget-color">Silver</label>
                    </li>
                    <li>
                      <input type="checkbox" name="shop-widget-color-black" id="shop-widget-color-black">
                      <label for="shop-widget-color-black">Black</label>
                    </li>
                    <li>
                      <input type="checkbox" name="shop-widget-color-lime" id="shop-widget-color-lime">
                      <label for="shop-widget-color-lime">Lime</label>
                    </li>
                    <li>
                      <input type="checkbox" name="shop-widget-color-violet" id="shop-widget-color-violet">
                      <label for="shop-widget-color-violet">Violet</label>
                    </li>
                  </ul>
                </div>
                <div class="single-widget widget-manufacturer">
                  <h5 class="widget-title">Производитель</h5>
                  <ul>
                    <li>
                      <input type="checkbox" name="shop-widget-manufacturer-dell" id="shop-widget-manufacturer-dell" checked="checked">
                      <label for="shop-widget-manufacturer-dell">Dell</label>
                    </li>
                    <li>
                      <input type="checkbox" name="shop-widget-manufacturer-asus" id="shop-widget-manufacturer-asus" checked="checked">
                      <label for="shop-widget-manufacturer-asus">Asus</label>
                    </li>
                    <li>
                      <input type="checkbox" name="shop-widget-manufacturer-apple" id="shop-widget-manufacturer-apple">
                      <label for="shop-widget-manufacturer-apple">Apple</label>
                    </li>
                    <li>
                      <input type="checkbox" name="shop-widget-manufacturer-hp" id="shop-widget-manufacturer-hp">
                      <label for="shop-widget-manufacturer-hp">Hp</label>
                    </li>
                    <li>
                      <input type="checkbox" name="shop-widget-manufacturer-sony" id="shop-widget-manufacturer-sony">
                      <label for="shop-widget-manufacturer-sony">Sony</label>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Recommended Product -->
              
              <!--// Recommended Product -->

             

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Newsletter Area -->
    
    <!--// Newsletter Area -->

  </main>



</div>
</body>
</html>