<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="container">
    <div class="row">
        <div class="col">
          <br>
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Связаться с нами.
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">ИМЯ</label>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Введите имя" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Эл.почта</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите почту" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Сообщение</label>
                            <textarea class="form-control" id="message" rows="6" required></textarea>
                        </div>
                        <div class="mx-auto">
                        <button type="submit" class="btn btn-primary text-right">Отправить</button></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
          <br>
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Aдрес</div>
                <div class="card-body">
                    <p>ул. Манаса 34/1</p>
                    <p>050040 г. Алматы</p>
                    <p>Казахстан, Алматы.</p>
                    <p>Эл.почта : erzhaniitu15@gmail.com</p>
                    <p>ТЕЛ. +7 702 127 15 73</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

