<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<header class="header">

  <!-- Header Top Area -->
  <div class="header-top bg-white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-7 col-sm-7 col-12">
          <p class="header-welcomemsg" >Добро пожаловать на сайт логистической компании <span>"Global Logistics"</span>!</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-12">
          <div class="header-langcurr">
            <div class="select-currency">
              <button class="select-currency-current">USD 378.73</button>
              <ul class="select-currency-list dropdown-list">
                <li><a href="#">RUB 5.74</a></li>
                <li><a href="#">EUR 428.87</a></li>
              </ul>
            </div>
            <div class="select-language">
              <button class="select-language-current"><img src="/assets/images/ru.png" alt="us icon">Рус</button>
              <ul class="select-language-list dropdown-list">
                <li><a href="#"><img src="/assets/images/kk.png" alt="kk icon">Қаз</a></li>
                <li><a href="#"><img src="/assets/images/us.png" alt="us icon">Eng</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Header Top Area -->

  <!-- Header Middle Area -->
  <div class="header-middle bg-theme">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-6 col-sm-6 order-1 order-lg-1" >
          <a routerLink="home" class="header-logo">
            <img src="/assets/images/logo_1.png" alt="logo">
          </a>
        </div>
        <div class="col-lg-6 col-12 order-3 order-lg-2">
          <form action="#" class="header-searchbox">
            <select  (change)= "navigateTo($event.target.value)">
              <option value="category" >Все категории</option>
              <option value="1">Мода</option>
              <option value="2">Техника</option>
              <option value="3">Компьютер</option>
              <option value="4">Одежда</option>
            </select>
            <input type="text" placeholder="Введите свой поисковый ключ ...">
            <button type="submit"><i class="lnr lnr-magnifier"></i></button>
          </form>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 order-2 order-lg-3">
          <div class="header-icons">
            <div class="header-account">
              <button class="header-accountbox-trigger"><span class="lnr lnr-user"></span>Мой Аккаунт<i class="ion ion-ios-arrow-down"></i></button>
              <ul class="header-accountbox dropdown-list" *ngIf="!authService.authorized.value">
                <li>
                  <a [routerLink]="['auth/login']">Вход</a>
                </li>
                <li>
                  <a [routerLink]="['auth/register']">Регистрация</a>
                </li>

              </ul>
              <ul class="header-accountbox dropdown-list" *ngIf="authService.authorized.value">
                <li >
                  <a [routerLink]="['auth/login']" (click)="logout()">Выход</a>
                </li>
              </ul>
            </div>
            <div class="header-cart">
              <a class="header-carticon" href="/"><i class="lnr lnr-cart"></i><span class="count">2</span></a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Header Middle Area -->

  <!-- Header Bottom Area -->
  <div class="header-bottom bg-theme">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10 d-none d-lg-block">


          <!-- Navigation -->
          <nav class="ho-navigation">
            <ul>
              <li ><a [routerLink]="['/front']">Главная</a></li>
              <li class="dropdown-holder">
                <a>Сервисы</a>
                <ul class="hodropdown">
                  <li><a routerLink="list-shipper">Доставщики</a></li>
                  <li><a routerLink="location">Список стран</a></li>
                  <li><a routerLink="list-region">Список областей</a></li>
                  <li><a routerLink="air">Список районов</a></li>
                  <li><a routerLink="storage/management">Управление складскими помещениями</a></li>

                  <li><a routerLink="transfer">Перевозчик жидких грузов</a></li>


                </ul>
              </li>


              <li><a routerLink="payment">Оплата и доставка</a></li>
              <li><a [routerLink]="['front/shop']">Магазин</a></li>


              <li>
                <a [routerLink]="['/front/contact']"> Контакты</a>
              </li>
              <li *ngIf="authService.authorized.value">
                <a [routerLink]="['/ui']"> Профиль</a>
              </li>
            </ul>
          </nav>
          <!--// Navigation -->

        </div>
        <div class="col-lg-2">
          <div class="header-contactinfo">
            <i class="flaticon-support"></i>
            <span>Телефон:</span>
            <b>+77071230022</b>
          </div>
        </div>
        <div class="col-12 d-block d-lg-none">
          <div class="mobile-menu clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <!--// Header Bottom Area -->

</header>

<div class="content">
  <router-outlet></router-outlet>
</div>



<!-- Footer -->
<footer class="text-light">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-lg-4 col-xl-3">
              <h5>О нас</h5>
              <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
              <h5>Инфо Компании</h5>
              <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
              <ul class="list-unstyled">
                  <li><a href="">Главное</a></li>
                  <li><a href="">Сервисы</a></li>
                  <li><a href="">Магазин</a></li>
                  <li><a href="">Контакт</a></li>
              </ul>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
              <h5>Сообщество</h5>
              <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
              <ul class="list-unstyled">
                  <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true">&nbsp;</i>Twitter</a></li>
                  <li><a href="https://twitter.com/?lang=en"><i class="fa fa-telegram" aria-hidden="true">&nbsp;</i>Telegram</a></li>
                  <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true">&nbsp;</i>Instagram</a></li>
                  <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true">&nbsp;</i>Facebook</a></li>
              </ul>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3">
              <h5>Контакты</h5>
              <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
              <ul class="list-unstyled">
                  <li><i class="fa fa-home mr-2"></i> Global Logistics</li>
                  <li><i class="fa fa-envelope mr-2"></i> erzhaniitu15@gmail.com</li>
                  <li><i class="fa fa-phone mr-2"></i> + 7702 127 15 73</li>
              
              </ul>
          </div>
          
      </div>
  </div>
</footer>

